.sliderContainer{
    margin: 0 auto;
    overflow-x: hidden;
    width: 80%;
    position: relative;
}
/*.slider{
    display: flex;
    cursor: grab;
    width: 500%;
    margin-left: -100%;
}*/
.sliderSection{
    height: 15rem;
    width: 100%;
    padding: 2rem 0px;
}

/*@keyframes slide {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    21%{margin-left: -100%;}
    40%{margin-left: -100%;}
    41%{margin-left: -200%;}
    60%{margin-left: -200%;}
    61%{margin-left: -300%;}
    80%{margin-left: -300%;}
    81%{margin-left: -400%;}
    100%{margin-left: -400%;}
}*/
div.swiper-button-next, div.swiper-button-prev {
    width: 1px;
    height: 11.17px;
    color: #767676 !important;
    font-weight: 900;
}
:root {
    --swiper-navigation-size: 11.75px !important
}